@using System.Configuration
@using Newtonsoft.Json
@using CRSP.Read.Common
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>@Model.Title</title>   
</head> 
<body>
    <div id="app"></div>
    <script>
        window.InitData = {};
        window.name = 'pdf-'+'@Model.FileName';
        window.InitData.articleType = 'pdf';
        window.InitData.catalog = @Html.Raw(Model.PdfCatalog);
        window.InitData.isTreeCatalog = "@Model.PdfHasCatalog";  // 判断目录是否为树形结构
        window.InitData.pageCount = @Model.PageMax;
        window.InitData.HfsFileCode = '@Model.HfsFileCode';
        window.InitData.fileName = '@Model.FileName';
        window.InitData.dbCode = '@Model.DbCode';
        window.InitData.tableName = '@Model.TableName';
        window.InitData.ImageBasePath =  '@ConfigurationManager.AppSettings["imageBasePath"]';
        window.InitData.domain = '@ConfigSettings.ServerDomain';
        window.InitData.AppId = "@Model.AppId";
        window.InitData.Lid =  '@Model.Lid';
        window.InitData.dbName = '@Model.TableName';
        window.InitData.FileSourceType = '@Model.FileSourceType';
        window.InitData.tasktype = @Model.FileSourceType - 1;
        window.InitData.ueditorDomain= '@ConfigSettings.UeditorDomain';
        window.InitData.ApplicationPath = '@Url.Content("~")';
        window.InitData.Topic = '@Model.Topic';
        window.InitData.SourceTitle = "";
        window.InitData.AuthorNames = "";
        window.InitData.psmcUrl = '@ConfigSettings.PsmcUrl'+'#/MyStudy';
        window.InitData.MyCentoUrl = '@ConfigSettings.PsmcUrl'+'#/Knowledge/MyCento';
        window.CnkiNode = '@ConfigurationManager.AppSettings["CnkiNode"]';
        window.InitData.XmlEditorUrl = '@ConfigSettings.XmlEditorUrl';
        window.InitData.IsLimited = @Model.IsLimited;
        window.InitData.StudyInfo = @Html.Raw(JsonConvert.SerializeObject(Model.StudyInfo));
        window.InitData.Act = '@Model.Act';  //判断引用的文件类型  空为普通pdf，refer为参考文献pdf，compare为对比阅读pdf
        window.InitData.DcType = '@Model.DcType';
        window.InitData.TaskId = '@Model.TaskId';
        window.InitData.From = '@Model.From';
        window.InitData.TrilalReadUrl = '@ConfigSettings.TrilalReadUrl'+ '?filename=' + window.InitData.fileName + '&tablename='
            + window.InitData.tableName + '&dbcode=' + window.InitData.dbCode + '&topic=' + window.InitData.Topic + '&fileSourceType='
            + window.InitData.FileSourceType +'&taskId='+window.InitData.TaskId+'&from='+window.InitData.From+ '&groupid=' + window.InitData.GroupId + '&appId=' + window.InitData.AppId; // 试读url
        
        // 下线，重新登陆
        window.InitData.loginshow = false;              // 登录弹窗的显示与否
        window.InitData.message = "";                   // 下线原因
        window.InitData.url = window.location.href;                       // 再次登录需要跳转的地方
        window.InitData.regshow = false;                // 是否直接显示注册页面
        window.InitData.phone = "";                     // 用户手机号
        window.InitData.Clientip = '@KNet.Core.WebUtils.GetUserIPAddress()'; //用户IP
     
        window.InitData.ssoHost = '@ConfigurationManager.AppSettings["sso_host_name"]';
        window.SSOAPIURL = window.InitData.ssoHost.substring(0, window.InitData.ssoHost.length - 3);
        window.InitData.ssoAppId = '@ConfigurationManager.AppSettings["sso_appid"]';
        window.InitData.ssoAppKey =  '@ConfigurationManager.AppSettings["sso_appkey"]';
        window.locale = '@ConfigurationManager.AppSettings["language"]';
        window.InitData.environment = '@ConfigurationManager.AppSettings["Environment"]';
        
        //  本文url
        window.InitData.pdfonlineUrl = window.InitData.ApplicationPath + 'readonline.ashx?filename=' + window.InitData.fileName + '&tablename=' + window.InitData.tableName + '&dbcode=' + window.InitData.dbCode + '&filesourcetype=1&topic=' + window.InitData.Topic + '&appId=' + window.InitData.AppId + '&devtype=' + '&pageType=POPPAGE#'

        // 判断是否是资源包内文献
        window.InitData.isXMRDFile = '@Model.IsXMRDFile';

        window.InitData.isMac = false;
        window.InitData.ClockUrl = '@ConfigurationManager.AppSettings["clockUrl"]';
        window.InitData.CommonUrl = '@ConfigSettings.ComponentPiccacheServer'
        OSnow();
        //判断系统类型
        function OSnow() {
            var agent = navigator.userAgent.toLowerCase();
            var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
            if (agent.indexOf("win32") >= 0 || agent.indexOf("wow32") >= 0) {
                window.InitData.isMac = false;
            }

            if (agent.indexOf("win64") >= 0 || agent.indexOf("wow64") >= 0) {
                window.InitData.isMac = false;
            }

            if (isMac) {
                window.InitData.isMac = true;
            }
        }
         window.onbeforeunload = onbeforeunload_handler;
        // window.onunload = onunload_handler;
        function onbeforeunload_handler(){  
            var readPage = {};
            readPage[window.InitData.fileName] = $("#pageIndex").val();
            localStorage.setItem("curPageHis", JSON.stringify(readPage));    
            }
    </script>
    
     <script src="@ConfigSettings.CommonPiccacheServer/Scripts/ueditor/ueditor.config.js"></script>
    <script src="@ConfigSettings.CommonPiccacheServer/Scripts/ueditor/ueditor.all.js"></script>
    <script src="@ConfigSettings.CommonPiccacheServer/Scripts/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="@ConfigSettings.CommonPiccacheServer/Scripts/ueditor/third-party/codemirror/codemirror.js"></script>
    <script src="@ConfigSettings.CommonPiccacheServer/Scripts/ueditor/third-party/zeroclipboard/ZeroClipboard.js"></script>
    <script src="@ConfigSettings.ComponentPiccacheServer/quote.js?v=@System.DateTime.Now.ToFileTimeUtc().ToString()"></script>
    
   <!--<script src="/src/assets/js/collect.min.js"></script>-->
    <!--
    <script src="https://piccache.cnki.net/yxpt/read//Scripts/ueditor/ueditor.config.js"></script>
    <script src="https://piccache.cnki.net/yxpt/read//Scripts/ueditor/ueditor.all.min.js"></script>
    <script src="https://piccache.cnki.net/yxpt/read//Scripts/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="https://piccache.cnki.net/yxpt/read//Scripts/ueditor/third-party/codemirror/codemirror.js"></script>
    <script src="https://piccache.cnki.net/yxpt/read//Scripts/ueditor/third-party/zeroclipboard/ZeroClipboard.js"></script>
 -->
</body>
</html>